### Extracting data for one particular station from Excel or prt or prn files. (Data : ind91-ind110)

In [20]:
import numpy as np
f=open('ind99.prt')

In [21]:
a= f.readlines()[204]
a[0:5]

'  204'

In [22]:
a[0:5].strip()

'204'

In [3]:
a[9:31]

'BAUNSI                '

In [4]:
a[31:36]

'24.80'

In [5]:
a[39:44]

'87.03'

In [6]:
import numpy as np
index=np.arange(45,232,6)
index.shape

(32,)

In [7]:
data=[]
for i in range(0,index.shape[0]-1):
    tmp=np.float64(a[index[i]:index[i+1]])
    data.append(tmp)
    del tmp
data

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]

In [8]:
np.float64(a[45:51])

0.0

In [9]:
a[51:57]

'  0.0 '

In [10]:
index

array([ 45,  51,  57,  63,  69,  75,  81,  87,  93,  99, 105, 111, 117,
       123, 129, 135, 141, 147, 153, 159, 165, 171, 177, 183, 189, 195,
       201, 207, 213, 219, 225, 231])

In [11]:
idn=[]
Station=[]
lat=[]
lon=[]
Data=np.empty((500,31),'float')        #3686
index=np.arange(45,232,6)
index.shape
f=open('ind99.prt')
lines= f.readlines()
for i in range(1,501):                 #3687
    a=lines[i]
    idn.append(np.float64(a[0:5]))
    Station.append(a[9:31])
    lat.append(np.float64(a[31:36]))
    lon.append(np.float64(a[39:44]))
    data=[]
    for j in range(0,index.shape[0]-1):
        tmp=a[index[j]:index[j+1]]
        data.append(np.float64(tmp))
        del tmp
    Data[i-1,:]=np.array(data)
    del a,data
f.close()

In [12]:
import pandas as pd
df_1=pd.DataFrame()
df_1['ID']=idn
df_1['Station']=Station
df_1['Lat']=lat
df_1['Lon']=lon

columns=np.arange(1,32,1)
column_names=list(columns)
for i in range(0,31):
    df_1[column_names[i]]=Data[:,i]

In [23]:
df_1

,ID,Station,Lat,Lon,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,1.0,ADILABAD,19.65,78.53,-99.9,-99.9,-99.9,-99.9,-99.9,-99.9,...,-99.9,-99.9,-99.9,-99.9,-99.9,-99.9,-99.9,-99.9,-99.9,-99.9
1,2.0,ADILABAD,19.66,78.53,-99.9,-99.9,-99.9,-99.9,-99.9,-99.9,...,-99.9,-99.9,-99.9,-99.9,-99.9,-99.9,-99.9,-99.9,-99.9,-99.9
2,3.0,ASIFABAD,19.36,79.30,-99.9,-99.9,-99.9,-99.9,-99.9,-99.9,...,-99.9,-99.9,-99.9,-99.9,-99.9,-99.9,-99.9,-99.9,-99.9,-99.9
3,4.0,BOATH,19.33,78.31,-99.9,-99.9,-99.9,-99.9,-99.9,-99.9,...,-99.9,-99.9,-99.9,-99.9,-99.9,-99.9,-99.9,-99.9,-99.9,-99.9
4,5.0,LAXMANCHANDA,19.13,78.46,-99.9,-99.9,-99.9,-99.9,-99.9,-99.9,...,-99.9,-99.9,-99.9,-99.9,-99.9,-99.9,-99.9,-99.9,-99.9,-99.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496.0,AHMEDABAD AERO,23.06,72.63,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
496,497.0,AMRELI,21.60,71.21,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
497,498.0,BHAKUDAR,24.03,72.26,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
498,499.0,CHITRASONI,24.25,72.48,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499,500.0,DANTIWADA,24.16,72.48,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
df_1.to_csv('prt_to_csv_output_test.csv')